.main-navigation__menu-btn {
	width: 3rem;
	height: 3rem;
	background: transparent;
	border: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: 2rem;
	cursor: pointer;
	color: red;
}

.main-navigation__menu-btn span {
	display: block;
	width: 3rem;
	height: 2.5px;
	background: white;
}

.main-navigation__menu_title,
.main-navigation__menu_title a {
	color: whitesmoke;
	margin-right: 5px;
}

.main-navigation__menu_title a:hover {
	color: orange;
}
.main-navigation__menu_title a:active {
	color: #ffd900;
}

.main-navigation__title {
	color: white;
}

.main-navigation__title a {
	text-decoration: none;
	color: white;
}

/* default no display, display: block if window is >= 780px */
.main-navigation__header-nav {
	display: none;
}

.main-navigation__drawer-nav {
	height: 100%;
}

@media (min-width: 780px) {
	.main-navigation__menu-btn {
		display: none;
	}

	.main-navigation__header-nav {
		display: block;
	}
}

/* .header-image { */
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). 
	This will make the text easier to read */
/* background-image: url('../../utils/webp/CourseHeader.webp'); */

/* Set a specific height */
/* height: 100%; */
/* width: 100%; */

/* Position and center the image to scale nicely on all screens */
/* background-position: center; */
/* background-repeat: no-repeat; */
/* background-size: cover; */
/* position: relative; */
/* } */
