.nav-links {
	list-style: square;
	margin: 0;
	padding: 0;
	/* width: 100%; */
	width: 10rem;
	/* height: 100%; */
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-links li {
	list-style-type: none;
	margin: 1rem;
}

.nav-links a {
	/* border: 1px solid transparent; */
	color: #292929;
	text-decoration: none;
	padding: 0.5rem;
}

.nav-links a:hover {
	color: orange;
}

.nav-links a.active {
	/* background: #f8df00; */
	color: #f8df00;
	/* border: 1px solid rgb(1, 105, 15); */
	margin: 5px;
	/* outline-style: ridge; */
	outline-color: rgb(3, 190, 60);
}

.nav-links button {
	cursor: pointer;
	color: #292929;
	background: transparent;
	padding: 0.5rem;
	font: inherit;
	/* border: 0px solid rgb(1, 105, 15); */
	margin: 5px;
}

.nav-links button:focus {
	outline: none;
}

.nav-links button:hover,
.nav-links button:active {
	background: #292929;
	color: white;
}

.nav-links p {
	list-style-type: none;
	margin: 1rem;
	color: #292929;
}

.nav-links p:hover {
	color: orange;
}

.navlink-nav-menu ul li.dashboard-nav-menu {
	display: inline-block;
	width: 20%;
}

.dropdown,
.dropup {
	/* position: relative; */
	position: static;
}

.dropdown-greybutton {
	width: 100%;
	border-width: 0px;
	line-height: 1rem;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #71b9ec;
	border-color: rgb(10, 10, 10);
	border-width: 10px;
	border-radius: 0;
	color: #ffffff;
	/* margin: 0 1px 0 1px; */
	padding: 2px 2px;
	width: 7rem;
	z-index: 1;
	left: 10px;
	padding: 0px;
}

.dropdown-content a {
	color: black;
	/* padding: 12px 16px; */
	text-decoration: none;
	display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	color: rgb(55, 0, 255);
	background-color: #71b9ec;
}

@media (min-width: 780px) {
	.nav-links {
		list-style: square;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.nav-links {
		flex-direction: row;
	}

	.nav-links li {
		margin: 0 0.5rem;
	}

	.nav-links a {
		color: white;
		text-decoration: none;
		/* border: 1px solid rgb(1, 105, 15); */
		margin: 5px;
		/* outline-style: ridge; */
		outline-color: rgb(3, 190, 60);
	}

	.nav-links a.color {
		color: #000000;
	}

	.nav-links button {
		color: white;
		/* border: 1px solid rgb(1, 105, 15); */
		margin: 5px;
		/* outline-style: ridge; */
		outline-color: rgb(3, 190, 60);
	}

	.nav-links button:hover,
	.nav-links button:active {
		background: #f81100;
		color: #292929;
		/* border: 1px solid rgb(1, 105, 15); */
		margin: 5px;
		/* outline-style: ridge; */
		outline-color: rgb(3, 190, 60);
	}

	.nav-links p {
		list-style-type: none;
		margin: 1rem;
		color: white;
	}

	.nav-links p:hover {
		color: orange;
	}

	.navlink-nav-menu ul li.dashboard-nav-menu {
		display: inline-block;
		width: 20%;
	}

	.dropdown,
	.dropup {
		position: relative;
		float: left;
	}

	.dropdown-greybutton {
		width: 100%;
		border-width: 0px;
		line-height: 1rem;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #71b9ec;
		border-color: rgb(10, 10, 10);
		border-width: 10px;
		border-radius: 0;
		color: #ffffff;
		/* margin: 0 1px 0 1px; */
		padding: 2px 2px;
		width: 7rem;
		z-index: 1;
		left: 10px;
		padding: 0px;
	}

	.dropdown-content a {
		color: #ffffff;
		/* padding: 12px 16px; */
		text-decoration: none;
		display: block;
	}
	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {
		/* background-color: rgb(238, 234, 234); */
		color: rgb(55, 0, 255);
		background-color: #71b9ec;
	}

	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {
		display: block;
		/* margin-left: 1.5rem; */
		color: orange;
		background-color: #71b9ec;
	}
}
