.nav-links {
	list-style: square;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-links li {
	list-style-type: none;
	margin: 1rem;
}

.nav-links a {
	border: 1px solid transparent;
	color: #292929;
	text-decoration: none;
	padding: 0.5rem;
}

.nav-links a:hover {
	color: orange;
}

.nav-links a.active {
	background: #f8df00;
	color: #292929;
	border: 1px solid rgb(1, 105, 15);
	margin: 5px;
	outline-style: ridge;
	outline-color: rgb(3, 190, 60);
}

.nav-links button {
	cursor: pointer;
	color: #292929;
	background: transparent;
	padding: 0.5rem;
	font: inherit;
	border: 1px solid rgb(1, 105, 15);
	margin: 5px;
}

.nav-links button:focus {
	outline: none;
}

.nav-links button:hover,
.nav-links button:active {
	background: #292929;
	color: white;
}

@media (min-width: 768px) {
	.nav-links {
		flex-direction: row;
	}

	.nav-links li {
		margin: 0 0.5rem;
	}

	.nav-links a {
		color: white;
		text-decoration: none;
		border: 1px solid rgb(1, 105, 15);
		margin: 5px;
		outline-style: ridge;
		outline-color: rgb(3, 190, 60);
	}

	.nav-links button {
		color: white;
		border: 1px solid rgb(1, 105, 15);
		margin: 5px;
		outline-style: ridge;
		outline-color: rgb(3, 190, 60);
	}

	.nav-links button:hover,
	.nav-links button:active {
		background: #f81100;
		color: #292929;
		border: 1px solid rgb(1, 105, 15);
		margin: 5px;
		outline-style: ridge;
		outline-color: rgb(3, 190, 60);
	}
}
