.auth-div {
	width: 50%;
	max-width: 25rem;
	margin: auto;
}

.auth-form-header {
	color: rgb(0, 0, 0);
	text-align: center;
}

.auth-form-container {
	padding-block-end: 10rem;
	width: 90%;
}

.auth-form-label {
	display: block;
	margin: 0.5rem 1rem 0.5rem 1rem;
}

.auth-form-input {
	display: block;
	width: 90%;
	margin: 0.5rem 1rem 0.5rem 1rem;
}

.auth-form-error {
	margin: 0rem 0rem 0rem 1rem;
	font-style: italic;
	color: red;
}

.auth-footer-div {
	width: 50%;
	max-width: 25rem;
	margin: 1rem auto;
	/* margin: 1rem 2rem 1rem 20rem; */
}

.auth-footer-div p {
	margin: 0.6rem 1rem 0.5rem 1rem;
}

.auth-form-image-upload__preview {
	width: 13rem;
	height: 13rem;
	border: 1px solid #ccc;
	display: flex;
	margin: 0.2rem 2rem 1rem 2rem;
}

.auth-form-image-upload__preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* no-repeat scroll 0 0; */
}

.auth-form-btn {
	margin: auto;
	/* no-repeat scroll 0 0; */
}

@media (max-width: 780px) {
	.auth-form-label {
		display: block;
		margin: 0.5rem 1rem 0.5rem 0rem;
	}

	.auth-form-input {
		display: block;
		width: 90%;
		margin: 0.5rem 1rem 0.5rem 0rem;
	}

	.auth-form-error {
		margin: 0rem 0rem 0rem 0rem;
		font-style: italic;
		color: red;
	}

	.auth-footer-div {
		max-width: 25rem;
		margin: 1rem auto;
	}
	.auth-footer-div p {
		margin: 0.6rem 1rem 0.5rem 0rem;
	}
}
