.events-item {
	display: inline-block;
	flex-flow: row wrap;
	align-items: center;
	margin: 1rem;
	width: 17rem;
	border-radius: 6px;
}

.events-item a {
	border-radius: 6px;
	display: block;
	align-items: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
	padding: 0rem 0rem 0.5rem 0rem;
	color: white;
	background: #ffffff;
}

.events-item__content {
	padding: 0;
}

.events-item__info {
	display: block;
	margin: 0 0 0.2rem 0;
	font-family: Montserrat, sans-serif;
	font-weight: normal;
	text-overflow: ellipsis;
}

.events-item__info h1 {
	display: block;
	font: Montserrat, sans-serif;
	font-size: 16px;
	margin: 0.1rem 1rem 1rem 1rem;
	font-weight: 600;
	color: #197dc2;
}

.events-item__info h2 {
	display: block;
	font: Montserrat, sans-serif;
	font-size: 14px;
	margin: 0.2rem 1rem 0.2rem 1rem;
	font-weight: 400;
	color: #82888a;
}

.events-item__info h3 {
	display: block;
	font: Montserrat, sans-serif;
	font-size: 12px;
	margin: 1rem 1rem 1rem 1rem;
	font-weight: 400;
	color: #82888a;
}

.events-item__info h4 {
	display: block;
	font: Montserrat, sans-serif;
	font-size: 12px;
	margin: 1rem 1rem 2rem 1rem;
	/* margin: 0.5rem 1rem 1rem 1rem; */
	font-weight: 400;
	color: #82888a;
}

.events-item__info:hover h1 {
	text-decoration: underline;
}

.events-item__eventName {
	font: Montserrat, sans-serif;
	font-size: 16px;
	margin: 0.1rem 1rem 1rem 1rem;
	font-weight: 600;
	color: #197dc2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	height: 38px;
	-webkit-line-clamp: 2;
	line-height: 1.2;
	margin-bottom: 5px;
	overflow: hidden;
	white-space: initial;
}

@media (max-width: 780px) {
	.events-item {
		display: inline-block;
		flex-flow: row wrap;
		align-items: center;
		margin: 1rem;
		width: calc(50%);
		/* min-width: 17.5rem; */
	}
}
