.fileuploadform-frame {
	margin-top: 2rem;
	margin-left: -20rem;
}

.upload-file-header {
	color: rgb(0, 0, 0);
	font-size: 14px;
	text-align: center;
	width: 40rem;
}
.upload-file-header-red {
	color: rgb(187, 5, 5);
	font-size: 14px;
	text-align: center;
}
.available-nunmber-table {
	margin-left: 15rem;
}

.entrylist-table {
	font-size: 12px;
	font-weight: 400;
}

@media (max-width: 780px) {
	.fileuploadform-frame {
		margin-top: 2rem;
		margin-left: -5rem;
	}

	.upload-file-header {
		color: rgb(0, 0, 0);
		text-align: center;
		font-size: 14px;
		width: 25rem;
	}
	.upload-file-header-red {
		color: rgb(187, 5, 5);
		font-size: 14px;
		text-align: center;
	}
	.available-nunmber-table {
		margin-left: 1rem;
	}
}
