.button {
	font: inherit;
	padding: 0.5rem 1.5rem;
	border: 1px solid #585655;
	border-radius: 4px;
	color: rgb(0, 0, 0);
	cursor: pointer;
	margin: 2.5rem 1.5rem 0.5rem 1.5rem;
	text-decoration: none;
	display: inline-block;
}

.button deafult {
	background: #ffffff;
}

.button:focus {
	outline: none;
}

/* .button:hover,
.button:active {
	background: #fd6248;
	border-color: #fd6248;
} */

.button--inverse {
	background: transparent;
	color: #106daf;
}

.button--inverse:hover,
.button--inverse:active {
	color: white;
	background: #106bad;
}

.button--danger {
	background: #e5001b;
	border-color: #e5001b;
}

.button--danger:hover,
.button--danger:active {
	color: #292929;
	background: #f34343;
	border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
	background: #ccc;
	color: #979797;
	border-color: #ccc;
	cursor: not-allowed;
}

.button--small {
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	font-size: small;
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	color: #106daf;
}

.button--medium {
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	font-size: medium;
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	color: #106daf;
	width: 10rem;
	margin: 1rem 2rem 2rem 1.5rem;
}

.button--big {
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
}
