.button {
	font: inherit;
	padding: 0.5rem 1.5rem;
	border: 1px solid #585655;
	border-radius: 4px;
	color: rgb(0, 0, 0);
	cursor: pointer;
	margin: 2.5rem 1.5rem 0.5rem 1.5rem;
	text-decoration: none;
	display: inline-block;
}

.button deafult {
	background: #ffffff;
}

.button:focus {
	outline: none;
}

.button:hover {
	background: #f0a544;
}

.button:active {
	background: #e68910;
}

.button--inverse {
	background: transparent;
	/* color: #106daf; */
	color: #acb2b6;
}

.button--inverse:hover,
.button--inverse:active {
	color: white;
	background: #106bad;
}

.button--danger {
	background: #e5001b;
	border-color: #e5001b;
}

.button--danger:hover,
.button--danger:active {
	color: #292929;
	background: #f34343;
	border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
	background: #ccc;
	color: #979797;
	border-color: #ccc;
	cursor: not-allowed;
}

.button--small {
	margin: 0.5rem 0.5rem 0.5rem 1.5rem;
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	font-size: small;
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	color: #106daf;
}

/* css need to follow LOVE and HATE rule the sequence of focus/hover/active need to be in an order */
.button--small-white {
	margin: 0.5rem 0.5rem 0.5rem 1.5rem;
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	font-size: small;
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	color: black;
	border-color: rgb(189, 186, 186);
}

.button--small-white:focus {
	background: #e68910;
	border-color: rgb(189, 186, 186);
	color: white;
}

.button--small-white:hover {
	background: #f0a544;
	border-color: rgb(189, 186, 186);
	color: black;
}

.button--small-white:active {
	background: #e68910;
	border-color: rgb(189, 186, 186);
	color: black;
}

.button--small-white-visited {
	margin: 0.5rem 0.5rem 0.5rem 1.5rem;
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	font-size: small;
	font-family: 'Montserrat', sans-serif;
	background: #e68910;
	border-color: rgb(189, 186, 186);
	color: white;
}

.button--small-orange {
	font-size: small;
	font-family: 'Montserrat', sans-serif;
	background: #f79321;
	border-color: #f79321;
	color: #ffffff;
	margin: 0rem;
	width: 8rem;
	text-align: center;
}

.button--editeventmanager-orange {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	background: #f79321;
	border-color: #f79321;
	color: #ffffff;
	margin: 0rem;
	width: 10rem;
	text-align: center;
	margin: 0rem 0.5rem 0rem 0rem;
}

.button--small-green {
	font-size: small;
	font-family: 'Montserrat', sans-serif;
	background: #2cc70d;
	border-color: #2cc70d;
	color: #ffffff;
	margin: 0rem;
	width: 8rem;
	text-align: center;
}
.button--small-green:disabled {
	background: #888684;
	border-color: #888684;
	color: white;
}

.button--small-grey {
	font-size: small;
	font-family: 'Montserrat', sans-serif;
	background: #888684;
	border-color: #888684;
	color: #ffffff;
	margin: 0rem;
	width: 8rem;
	text-align: center;
}

.button--small-red {
	font-size: small;
	font-family: 'Montserrat', sans-serif;
	background: #c7380d;
	border-color: #c7380d;
	color: #ffffff;
	margin: 0rem;
	width: 8rem;
	text-align: center;
}

.button--editeventmanager-grey {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	background: rgb(226, 228, 228);
	border-color: rgb(226, 228, 228);
	margin: 0rem;
	width: 10rem;
	text-align: center;
	margin: 0rem 0.5rem 0rem 0rem;
}

.button--editeventmanager-grey:hover {
	background: #f5ba80;
	border-color: #f5ba80;
	color: #ffffff;
}

.button--small-orange:hover {
	background: #ad610a;
	border-color: #ad610a;
	color: #ffffff;
}

.button--small-orange--inverse {
	background: #bebcba;
	border-color: #bebcba;
	color: #ffffff;
	pointer-events: none;
}

.button--small-googlemap {
	margin: 0 8px 8px 0;
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	font-size: small;
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	color: #106daf;
	display: inline-block;
}

.button--medium {
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	font-size: medium;
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	color: #106daf;
	width: 10rem;
	margin: 1rem 2rem 2rem 1.5rem;
}

.button--medium--inverse {
	color: white;
	background: #bebcba;
}

.button--medium-block {
	display: block;
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	font-size: medium;
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	color: #106daf;
	width: 10rem;
	margin: 1rem 2rem 2rem 1.5rem;
}
.button--medium-block--inverse {
	color: white;
	background: #bebcba;
}

.button--small-block {
	display: block;
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	color: #106daf;
	width: 10rem;
	margin: 1rem 2rem 2rem 1.5rem;
}

.button--small-block-payment {
	display: block;
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	color: #106daf;
	width: 10rem;
	margin: 2rem 2rem 2rem 1.5rem;
}

.button--small-block-onsite-stripe {
	display: block;
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	color: #106daf;
	width: 10rem;
	margin: 2rem 2rem 2rem 1.5rem;
}

.button--small-block--inverse {
	color: white;
	background: #bebcba;
}

.button--small-block-warning {
	display: block;
	padding: 0.2rem 0.2rem 0.2rem 0.2rem;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	background: tomato;
	color: white;
	width: 10rem;
	margin: 1rem 2rem 2rem 1.5rem;
}

.button--small-block-warning:hover {
	color: rgb(1, 1, 133);
	background: #ec7c0b;
}

.button--big {
	font-size: 1.5rem;
	font-family: 'Montserrat', sans-serif;
}

.button--entryform--save {
	display: inline-block;
	width: 5rem;
	/* width: auto; */
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	background: white;
	color: rgb(7, 151, 50);
	/* border-color: #e5001b; */
	/* margin-left: 1rem; */
	font-weight: 400;
	text-align: center;
}

.button--entryform--save:hover {
	background: rgb(5, 138, 45);
	color: rgb(243, 245, 141);
}

.button--entryform--back {
	display: inline-block;
	width: auto;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	background: white;
	color: rgb(28, 8, 211);
	font-weight: 400;
	text-align: center;
}
.button--entryform--back:hover {
	background: rgb(64, 244, 250);
	color: rgb(28, 8, 211);
}

.button--stripe {
	font: inherit;
	background-color: transparent;
	padding: 0.2rem 0.5rem;
	margin: 0rem 0.1rem 0rem 0.1rem;
	border: 1px solid #585655;
	border-radius: 4px;
	color: rgb(0, 0, 0);
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
}

.button--stripe deafult {
	background: #ffffff;
}

.button--stripe:focus {
	outline: none;
}

.button--stripe:hover {
	background: #f0a544;
}

.button--stripe:active {
	background: #e68910;
}

@media (max-width: 780px) {
	.button {
		font: inherit;
		/* padding: 0.5rem 1.5rem; */
		border: 1px solid #585655;
		border-radius: 4px;
		color: rgb(0, 0, 0);
		cursor: pointer;
		/* margin: 2.5rem 1.5rem 0.5rem 1.5rem; */
		margin: 1px 5px 1px 2px;
		text-decoration: none;
		display: inline-block;
	}
	.button--small-orange {
		font-size: 12px;
		font-family: 'Montserrat', sans-serif;
		background: #f79321;
		border-color: #f79321;
		color: #ffffff;
		margin: 0rem;
		padding: 0.2rem 0.5rem;
		width: 6rem;
		text-align: center;
	}

	.button--small-orange--inverse {
		background: #bebcba;
		border-color: #bebcba;
		color: #ffffff;
		pointer-events: none;
	}

	.button--editeventmanager-orange {
		font-size: 10px;
		font-family: 'Montserrat', sans-serif;
		background: #f79321;
		border-color: #f79321;
		color: #ffffff;
		margin: 0rem;
		padding: 0.2rem 0.5rem;
		width: 6rem;
		text-align: center;
	}

	.button--small-green {
		font-size: 12px;
		font-family: 'Montserrat', sans-serif;
		background: #2cc70d;
		border-color: #2cc70d;
		color: #ffffff;
		margin: 0rem;
		padding: 0.2rem 0.5rem;
		width: 6rem;
		text-align: center;
	}
	.button--small-green:disabled {
		background: #888684;
		border-color: #888684;
		color: white;
	}

	.button--small-grey {
		font-size: 12px;
		font-family: 'Montserrat', sans-serif;
		background: #888684;
		border-color: #888684;
		color: #ffffff;
		margin: 0rem;
		padding: 0.2rem 0.5rem;
		width: 6rem;
		text-align: center;
	}
	.button--small-red {
		font-size: 12px;
		font-family: 'Montserrat', sans-serif;
		background: #c7380d;
		border-color: #c7380d;
		color: #ffffff;
		margin: 0rem;
		width: 6rem;
		text-align: center;
	}
	.button--editeventmanager-grey {
		font-size: 10px;
		font-family: 'Montserrat', sans-serif;
		background: rgb(226, 228, 228);
		border-color: rgb(226, 228, 228);
		margin: 0rem;
		padding: 0.2rem 0.5rem;
		/* width: 6rem; */
		width: 5rem;
		text-align: center;
	}
	.button--entryform--save {
		display: inline-block;
		width: 5rem;
		/* width: auto; */
		font-size: 12px;
		font-family: 'Montserrat', sans-serif;
		background: white;
		color: rgb(7, 151, 50);
		/* border-color: #e5001b; */
		/* margin-left: 1rem; */
		font-weight: 400;
		text-align: center;
	}
	.button--entryform--back {
		display: inline-block;
		/* width: 6rem; */
		width: 7rem;
		font-size: 12px;
		font-family: 'Montserrat', sans-serif;
		background: white;
		color: rgb(28, 8, 211);
		font-weight: 400;
		text-align: center;
	}
}
