.avatar__event {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar__event img {
	display: block;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	/* width matching events-item */
	width: 17rem;
	/* height is mandatory to avoid portrait image going out of box*/
	height: 13rem;
	object-fit: cover;
}

.avatar__club {
	width: 14rem;
	height: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar__club img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
