.avatar__event {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar__event img {
	display: block;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.avatar__club {
	width: 50%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar__club img {
	display: block;
	/* border-radius: 50%; */
	width: 100%;
	height: 100%;
	object-fit: cover;
}
