.modal {
	display: block;
	align-self: center;
	z-index: 100;
	position: fixed;
	top: 22vh;
	left: 10%;
	right: 10%;
	height: 40%;
	width: 80%;
	background: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: 8px;
}

.modal__header {
	width: 100%;
	padding: 0.5rem 0.5rem;
	background: #0f9b16;
	color: #ffffff;
}

.modal__header h2 {
	width: 100%;
	font-size: medium;
	margin: 0.5rem;
}

.modal__content {
	padding: 1rem 0.5rem;
	margin: 0.5rem;
	/* padding: 0.5rem 0.5rem;
	margin: 0.2rem; */
}

.modal__footer {
	padding: 0.2rem 0.5rem;
}

.modal-delete {
	left: 20%;
	right: 20%;
	align-self: center;
	width: 30%;
	height: 20%;
}

@media (min-width: 780px) {
	.modal {
		z-index: 100;
		align-self: center;
		/* width: 30%;
		height: 20%; */
		width: 30%;
		height: 25%;
		left: 35%;
		right: 35%;
	}
	.modal-delete {
		z-index: 100;
		align-self: center;
		/* width: 46%;
		height: 20%; */
		width: 30%;
		height: 25%;
		/* left: 22%;
		right: 22%; */
		left: 35%;
		right: 35%;
	}
}

.modal-enter {
	transform: translateY(-10rem);
	opacity: 0;
}

.modal-enter-active {
	transform: translateY(0);
	opacity: 1;
	transition: all 200ms;
}

.modal-exit {
	transform: translateY(0);
	opacity: 1;
}

.modal-exit-active {
	transform: translateY(-10rem);
	opacity: 0;
	transition: all 200ms;
}
