.event-item {
	/* margin: 0rem; */
	margin-top: 4rem;
	position: absolute;
	height: 80rem;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.event-item__content {
	padding: 0;
}

.event-item__content.title {
	color: #4a4a4a;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.5;
	max-width: 100%;
}

.registration-container h3 {
	font-size: 14px;
	font-weight: 500;
	display: inline;
	margin-right: 0.5rem;
}

.registration-container h4 {
	font-size: 12px;
	font-weight: 400;
	color: #82888a;
}
.event-item__content h2 {
	font-size: larger;
	margin-left: 1rem;
	margin-right: 0.5rem;
}

.event-item__content h3 {
	font-size: medium;
}

.event-item__content__h3heavy {
	font-size: medium;
	font-weight: 800;
}

.event-item__info h4 {
	font-size: small;
}

.event-item__info {
	padding: 1rem;
	text-align: center;
}

.event-item__description {
	white-space: pre-wrap;
	text-align: left;
	margin: 1rem 1rem 1rem 1rem;
}
.event-item__image {
	width: 100%;
	height: 6.5rem;
	margin-right: 1.5rem;
}

.event-item__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.event-item__coursemap {
	display: block;
	margin-left: 2rem;
	margin-right: auto;
}

.event-item__coursemap img {
	width: 6rem;
	height: 6rem;
}

.event-item__info h2,
.event-item__info h3,
.event-item__info p {
	margin: 0 0 0.5rem 0;
}

.event-item__info h4 {
	display: inline-block;
	margin-top: 0rem;
	margin-right: 0.5rem;
}

.event-item__actions {
	padding: 1rem;
	text-align: center;
	border-top: 1px solid #ccc;
}

.event-item__modal-content {
	padding: 0;
}

.event-item__modal-actions {
	text-align: right;
}

.event-item__modal-delete {
	padding: 0;
}

.event-item__actions button,
.event-item__actions a {
	margin: 0.5rem;
}

.map-container {
	height: 28rem;
	width: 100%;
}

.map-container img {
	height: 100%;
	width: 100%;
}

.event-pages {
	margin: 0rem;
}

.event-pages.eventitme-page {
	line-height: 1.5;
}

.eventitem-page #header {
	background-color: #fff;
	margin-bottom: 0;
}

.header-title {
	color: #4a4a4a;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.5;
	max-width: 100%;
	margin-bottom: 0;
}

.section-container {
	margin: 0 auto;
	max-width: 1125px;
	padding: 0 15px;
}

.logo-container {
	float: left;
}

.logo-container img {
	margin-top: 5px;
	width: 70px;
	height: 70px;
}

.primary-info {
	overflow: hidden;
}

.clubname-container {
	display: inline-block;
	font-size: 14px;
}

.provider-clubname {
	color: #197dc2;
}
.eventitem-eventtype {
	display: inline-block;
	line-height: 21px;
	padding-top: 8px;
	font-size: 14px;
}

.eventtype {
	color: #197dc2;
}

.eventtype-container {
	font-size: 14px;
	padding: 10px;
	position: relative;
	min-height: 290px;
}

.page-basic-container {
	display: inline-block;
	padding-right: 18px;
	position: relative;
	width: 57%;
}

.eventimage-container {
	background-color: #f5f5f5;
	background-position: center top;
	background-size: cover;
	display: block;
	position: relative;
	min-width: 8rem;
}

.eventimage-container-img {
	position: relative;
	width: 100%;
	height: 100%;
}

.registration-container {
	display: inline-block;
	border: 1px;
	border-style: ridge;
	width: 43%;
	position: absolute;
	font-size: 14px;
	padding: 0.5rem;
}

.entryinfo-container {
	display: inline-block;
	border: 1px;
	border-style: ridge;
	width: 25%;
	position: relative;
	top: 7rem;
	font-size: 14px;
	padding: 0.5rem;
}

.entryinfo-container h3 {
	display: block;
	color: rgb(219, 21, 21);
	font-size: 14px;
	font-weight: 200;
	display: inline;
}

.entryinfo-container h3 {
	font-size: 14px;
	font-weight: 500;
	display: inline;
	margin-right: 0.5rem;
}

.entryinfo-container h4 {
	font-size: 12px;
	font-weight: 400;
	color: #82888a;
}

.courseMap-container {
	display: inline-block;
	border: 0px;
	border-style: ridge;
	width: 43%;
	position: absolute;
	top: 35rem;
	font-size: 14px;
	padding: 0.5rem;
}

.coursemap-title {
	font-size: 16px;
	color: #007bff;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.activity-type {
	color: #82888a;
	display: inline-block;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.col-xs-12 {
	width: 100%;
}

strong {
	font-weight: 500;
}

.about-description {
	line-height: 21px;
	margin-bottom: 0;
	font-size: 14px;
}

.toggle-section .sub-heading {
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin: 16px 0;
}

.toggle-section {
	border-bottom: 1px solid #d8d8d8;
}
btn {
	outline: none;
}

.collapsible {
	line-height: 0.6;
}

.toggle-section .sub-heading .toggle-btn,
toggle-section .sub-heading .toggle-btn {
	background-color: inherit;
	color: #4a4a4a;
	float: right;
	font-size: 30px;
	font-weight: 400;
	margin: 3px 0 0;
	padding: 0;
	text-shadow: none;
}

.minus-sign::before {
	content: '\2212';
}

.plus-sign::before {
	content: '\002B';
}

.description {
	margin-bottom: 10px;
}

.description {
	text-align: left-align;
}

.page-footer {
	line-height: 21px;
	margin-bottom: 10rem;
	font-size: 14px;
}

@media (min-width: 780px) {
	.event-pages {
		/* margin-top: -20px; */
		margin-top: 0px;
	}
	.logo-container {
		margin-right: 10px;
	}
	.event-item__image {
		height: 12.5rem;
	}
	.event-item__coursemap {
		width: 30rem;
		/*height: 30rem;*/
	}
	.event-item__modal {
		width: 45%;
		height: 20%;
	}
	.description {
		text-align: justify;
	}

	.courseMap-container {
		display: inline-block;
		border: 0px;
		border-style: ridge;
		width: 43%;
		top: auto;
		position: absolute;
		font-size: 14px;
		padding: 0.5rem;
	}

	.coursemap-title {
		font-size: 16px;
		color: #007bff;
		font-weight: 600;
		margin-bottom: 0.5rem;
	}
}
