.event-item {
	margin: 0rem;
}

.event-item__content {
	padding: 0;
}

.event-item__content h2 {
	font-size: larger;
	margin-left: 1rem;
	margin-right: 0.5rem;
}

.event-item__content h3 {
	font-size: medium;
}

.event-item__content h4 {
	font-size: small;
}

.event-item__info {
	padding: 1rem;
	text-align: center;
}

.event-item__description {
	white-space: pre-wrap;
	text-align: left;
	margin: 1rem 1rem 1rem 1rem;
}
.event-item__image {
	width: 100%;
	height: 6.5rem;
	margin-right: 1.5rem;
}

.event-item__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.event-item__coursemap {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.event-item__coursemap img {
	width: 6rem;
	height: 6rem;
}

.event-item__info h2,
.event-item__info h3,
.event-item__info p {
	margin: 0 0 0.5rem 0;
}

.event-item__info h4 {
	display: inline-block;
	margin-top: 0rem;
	margin-right: 0.5rem;
}

.event-item__actions {
	padding: 1rem;
	text-align: center;
	border-top: 1px solid #ccc;
}

.event-item__modal-content {
	padding: 0;
}

.event-item__modal-actions {
	text-align: right;
}

.event-item__modal-delete {
	padding: 0;
}

.event-item__actions button,
.event-item__actions a {
	margin: 0.5rem;
}

.map-container {
	height: 28rem;
	width: 100%;
}

.map-container img {
	height: 100%;
	width: 100%;
}

@media (min-width: 780px) {
	.event-item__image {
		height: 12.5rem;
	}
	.event-item__coursemap {
		width: 30rem;
		/*height: 30rem;*/
	}
	.event-item__modal {
		width: 45%;
		height: 20%;
	}
}
