.formbuilder-header {
	position: relative;
	font-size: 14px;
	font-weight: 300;
	color: #404d5b;
	width: 90%;
	margin: 0rem 2rem 0rem 2rem;
}

.formbuilder-header h4 {
	display: inline-block;
}

.formbuilder-header h6 {
	display: inline-block;
}

.formbuilder-container {
	position: relative;
	font-size: 14px;
	font-weight: 300;
	color: #404d5b;
	width: 90%;
	margin: 0rem 2rem 8rem 2rem;
}
.formbuilder-container modal {
	background: rgba(0, 0, 0, 0.3);
}
.formbuilder-container modal-content {
	padding: 30px;
	max-height: 800px;
	overflow-y: auto;
}

.formbuilder-label {
	font-weight: 400;
}
