@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
	box-sizing: border-box;
}

html {
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Montserrat', sans-serif;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	background: #ffffff;
}

.slide-in-left-enter {
	transform: translateX(-100%);
}

.slide-in-left-enter-active {
	transform: translateX(0);
	opacity: 1;
	transition: all 200ms;
}

.slide-in-left-exit {
	transform: translateX(0%);
	opacity: 1;
}

.slide-in-left-exit-active {
	transform: translateX(-100%);
	opacity: 0;
	transition: all 200ms;
}

.center {
	/* to display loading spinner in the middle of the screen */
	/* use position: fixed to ignore screen scrolling */
	display: flex;
	position: fixed;
	left: 50%;
	top: 35%;

	/* text-align: center; */
	/* justify-content: center; */
	/* align-items: center; */
}
